*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 400;
  display: grid;
  place-items: center;
  background-color: hsl(185, 75%, 39%);
  color: hsl(229, 23%, 23%);
  min-height: 100vh;
  position: relative;
  z-index: 1;
  overflow-x: hidden;
}
.bg-top {
  position: absolute;
  top: 0;
  left: 0;
  height: 50vh;
  width: 50vw;

  background-image: url("../images/bg-pattern-top.svg");
  background-position: bottom right;
  background-repeat: no-repeat;
  z-index: -1;
}

.bg-bottom {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 50vh;
  width: 50vw;

  background-image: url("../images/bg-pattern-bottom.svg");
  background-position: top left;
  background-repeat: no-repeat;
  z-index: -1;
}
